<header id="menu">
    <ul>
        <li class="column"><a href="/">Home</a></li>
        <li class="column"><a href="/about">About</a></li>
        <li class="column"><a href="/contact">Contact</a></li>
        <li class="column"><a href="/project">Projects</a></li>
        {{#if isLoggedin}}
        <li class="column"><a href="/logout">Logout</a></li>
        {{else}}
        <li class="column"><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</header>