<div class="socials">
    <a href="https://www.instagram.com/jonathankilit/" class="fa-brands fa-square-instagram fa-2xl" style="color: #000000;"></a>
    <a href="https://www.linkedin.com/in/jonathan-kilit-a98b19271/" class="fa-brands fa-linkedin-in fa-bounce fa-2xl"></a>
    <a href="https://www.facebook.com/jonathan.kilit" class="fa-brands fa-square-facebook fa-2xl"></a>
</div>