<div class="container">
    <div id="background">
        <img src="/img/1681937483609.jpg" alt="picture of Jonathan Kilit" id="selfportrait">
        <div id="row">
            <div class="columns">
                <div id="column" class="column col-8 col-md-12">
                    <h2>Ambitious software developer</h2>
                    <p>
                        I am a goal-driven and ambitious system developer with knowledge in database design, data
                        structures, algorithms, and object-oriented programming.
                        I am proficient in C, C++, SQL, and Assembly. I am solution-oriented, motivated, and dedicated
                        to
                        learning new methods and techniques to advance software development.
                        I have a strong interest in programming, AI, mathematics, economics, and entrepreneurship.
                        Furthermore, I have had the opportunity to play soccer throughout my life, which has helped me
                        develop discipline and gain
                        experience working together in a team with numerous individuals towards a common goal.
                        <ul>
                            <h3>Language knowledge</h3>
                            {{#each languages}}
                            <li>{{name}}: {{level}}</li>
                            {{/each}}
                        </ul>
                    </p>
                </div>
                <div id="column" class="column col-3 col-md-6 col-sm-12">
                    <h2>Knowledgeable in</h2>
                    <p>
                        <ul>
                            <li>C/C++</li>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Express</li>
                            <li>NodeJS</li>
                            <li>VSCode</li>
                            <li>QT Creator</li>
                        </ul>
                        and more to come!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
