<div id="background">
    <div id="row">
        <p id="column">
            Feel free to get in touch with me through any of the following channels. <br>
            I'm always open to new connections, collaborations, and discussions <br>
            <i class="fa-solid fa-envelope-open-text fa-bounce fa-2xs"></i>Jonathan.kilit@hotmail.com <br>
            <i class="fa-solid fa-phone fa-bounce fa-2xs"></i> 0763399256 <br>
            <i class="fa-solid fa-city fa-bounce fa-2xs"></i>Jönköping, Sweden <br> <br>
            Whether you have a technical query, a project proposal, or just want to say hello,
            I'm here to listen and engage in meaningful conversations.
            Your messages are important to me, and I'll do my best to respond promptly.
            Additionally, you can connect with me on social media platforms like LinkedIn
            to stay updated on my professional journey and interact with me on various topics.
            Looking forward to hearing from you and exploring opportunities to collaborate and learn together!
        </p>
    </div>

</div>
</div>