<div id="background">
  <div class="project">
    <h2>What project do you want to add? (only for me)</h2>
    <form class="form-title" method="POST" action="/create-project/{{id}}">
      <label for="project-title">Title:</label>
      <input type="text" id="project-title" name="project-title" required>


      <label for="project-year">year:</label>
      <input type="text" id="project-year" name="project-year" required>

      <label for="project-desc">Tell me about the project!:</label>
      <textarea name="project-desc" cols="30" rows="10" required></textarea>

      <button type="submit" class="enter-project">Enter</button>
    </form>
  </div>
</div>