<div id="background">
    <form class="centered-form" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="un" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="pw" required>

        <button type="Login">Login</button>
        <a href="/register" id="register" class="download-button">Register</a>
    </form>
</div>