<div id="background">

    <form id="login-form" class="centered-form" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="un" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="pw" required>

        <button type="Login">Login</button>
    </form>

</div>