<div id="background">
     <div id="blog">
            <h2>What's on your mind? (only for me)</h2>
            <form id="form-title">
                <label for="blog-title">Title</label>
                <input type="text" id="blog-title" name="blog-title" required>
            </form>
            <form id="form-text">
                <label for="blog-text">Write what's on your mind!</label>
                <textarea name="blog-text" id="blog-text" cols="30" rows="10" required></textarea>
                <button id="enter-blog">Enter blog</button>
            </form>
        </div>
</div>