<div id="background">
    <h1>My projects</h1>
    <ul>
        {{#each projects}}
        <li>
            <a href="/specific/{{id}}" class="download-button">{{title}}</a>
        </li>
        {{/each}}
    </ul>
</div>