<div id="background">
    <form class="centered-form" action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="unR" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="pwR" required>
        <button type="submit" class="register" class="download-button">Register</button>

    </form>
</div>