body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    height: 100%;
}

#background::before {
    content: "";
    background-image: url('/img/JUcampuspanorama.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#background {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 35px;
    color: white;
    background-color: darksalmon;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin-top: 20px;

}

p {
    font-family: "fa-solid fa-font";
    font-size: larger;
}

#menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    background-color: darksalmon;
    padding: 10px;
    border-radius: 5px;
}

#menu a:hover {
    color: yellow
}

#column {
    padding: 20px;
}

#row {
    display: flex;
}

footer {
    background-color: darkgray;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 20px;
}

#blog {
    display: flex;
    flex-direction: column;
}

.form-title {
    display: flex;
    flex-direction: column;
}

#form-text {
    display: flex;
    flex-direction: column;
}

#enter-blog {
    width: 100px;
    height: 30px;
    background-color: dimgray;
    border-radius: 10px;
    margin: 10px;
}

#displayed-posts {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url('/img/free-blurred-backgrounds.jpg');
    background-size: cover;
    background-position: center;
}

.blog-title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 35px;
}

/*************************************************************************/
#selfportrait {
    height: 25%;
    width: 25%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}


.centered-form {
    max-width: 300px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.centered-form label {

    display: block;
}

.centered-form input[type="text"],
.centered-form input[type="password"] {
    width: 278px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.centered-form button {
    width: 100%;
    padding: 10px;
    background-color: darksalmon;
    border: none;
    cursor: pointer;
}

.centered-form button:hover {
    background-color: salmon;
}

#managment-id {
    width: 45%;
    height: 45%;
    margin: 20px;
    border-radius: 20px;
}

.download-button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: darksalmon;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
}

.logout-button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: darksalmon;
    border-radius: 10px;
    padding: 20px;
}

.logout-center {
    display: flex;
    justify-content: center;
}

#inheritance-id {
    margin-left: 120px;
    width: 25%;
    height: 25%;
    border-radius: 20px;
}

.download-button:hover {
    background-color: salmon;
}

.create-blog-button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: darksalmon;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    width: 140px;
}

.form-year {
    display: flex;
    flex-direction: column;
}

#project-year {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 35px;
}

.project {
    display: flex;
    flex-direction: column;
}

.enter-project {
    width: 100px;
    height: 30px;
    background-color: dimgray;
    border-radius: 10px;
    margin: 10px;
}

#project-title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 35px;
}

.list-projects {
    list-style: none;
}

.login-b {
    margin-top: 20px;
}

a#register {
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-top: 20px;
}

button.register {
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 900px) {
    #menu ul {
        flex-direction: column;
        align-items: center;
        padding: 10px;

    }
    #menu li{
        margin: 10px;
    }
}
